body {
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}


/* Global */
.container{
	width:80%;
	margin:auto;
	overflow:hidden;
}

ul{
	margin:0;
	padding:0;
}

.button_1{
	height: 38px;
	background: #b3d061;
	border:0;
	padding-left: 20px;
	padding-right: 20px;
	color:#ffffff;
}

.dark{
	padding:15px;
	background: #35424a;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 25px;
}

.light{
	padding:15px;
	background: #430546;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 500%;
}


/* Header */
header{
	background: transparent;
	color: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	margin-right: -90px;
}

header a{
	color:#ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}


header li{
	display: inline;
	padding: 0 20px 0 20px;
} 

header #branding {
	float:left;
}


header #branding h1{
	margin: 0;
}

header nav {
	float: right;
	margin-top: 10px;
}

header .highlight, header a{
	color:#ffffff;
	font-weight: bold;
}

.current a {
	color:black;
}

header a:hover{
	color: transparent;
	font-weight: bold;
}

/*showcase*/

#showcase {
	min-height: 300px;
	z-index: 100;
	text-align: center;
	color: #ffffff;
}

#showcase h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}

#showcase p{
	font-size: 20px;
}

/*Newsletter*/

#newsletter {
	padding:15px;
	color: #ffffff;
	background: #35424a;
}

#newsletter h1{
	float:left;
}

#newsletter form {
	float: right;
	margin-top: 15px;
}

#newsletter input[type="email"] {
	padding: 4px;
	height: 25px;
	width: 250px;
}

/*boxes*/

#boxes{
	margin-top: 10px;
}

#boxes .box{
	float: left;
	text-align: center;
	width: 32%;
	padding: 5px;
}

#boxes .box img{
	width: 100px;
}

#boxes .bottomBox img{
	width: 100px;
}

#boxes .bottomBox {
	text-align: center;
	width: 32%;
	padding: 5px;
	padding-left: 35%;
}

/*sidebar*/

aside#sidebar {
	float: right;
	width: 30%;
	margin-top: 10px;
}



aside#sidebar .quote input, aside#sidebar .quote textarea{
	width:90%;
	padding: 5px;
}

aside#sidebar ul{
	padding: 5px;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 350px;
    top: 0;
	margin: auto;
	height: 144%;
	z-index: -1;
}


.waveWrapperInner {
	flex: -5;
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
	background: linear-gradient(270deg, #23b28d, #a423b2);

	-webkit-animation: AnimationName 1s ease infinite;
	-moz-animation: AnimationName 1s ease infinite;
	animation: AnimationName 1s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 2s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 100% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 100% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}

body {
	width: 100wh;
	flex: 100;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, rgb(207, 187, 240), rgb(93, 45, 168));
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/*main-col*/

article#main-col{
	float:left;
	width:65%;
}


/*services*/

ul#services li{
	list-style: none;
	padding: 20px;
	border: #cccccc solid 1px;
	margin-bottom: #e6e6e6;
}



footer{
	padding: 5px;
	margin-top: 5px;
	color: #ffffff;
	background-color: #b3d061;
	text-align: center;
}

/*media queries */

@media(max-width: 768px){
	header #branding,
	header nav,
	header nav li,
	#newsletter h1,
	#newsletter form, 
	#boxes .box,
	article#main-col,
	aside#sidebar{
		float:none;
		text-align:center;
		width:100%;
	}

	header{
		padding-bottom: 20px;
	}

	#showcase h1{
		margin-top:40px;
	}

	#newsletter button, .quote button{
		display:block;
		width:100%;
	}

	#newletter form input[type="email"], .quote input, .quote textarea{
		width:100%;
		margin-bottom: 5px;
	}

}

}


